@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
    align-items: center;
    color: white;
}

body {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom, #FFFFFF 0%, #3B00E7 42%, #E63530 100%);
    overflow-x: hidden;
    overflow-y: hidden;
}

@media (width > 1024px) {
    .main-div {
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(20px);
        display: flex;
        flex-direction: column;
        width: 91.40vw;
        height: 87.407vh;

        margin-top: 6.2965vh;
        margin-left: 4.3vw;
        border-radius: 25px;
    }

    .logo {
        width: 10.677vw;
        margin-top: 2vh;
    }

    .bibizana {
        width: 10.677vw;
        margin-top: 4vh;
    }

    .main-p {
        font-size: 4rem;
    }

    .p {
        font-size: 2.25rem;
        margin-top: 1vh;
    }

    .button {
        background-color: #2600FF;
        border: none;
        border-radius: 25px;
        padding-inline: 3vw;
        padding-block: 1vw;

        margin-top: 3vh;

        font-size: 1.5rem;
    }

    .support {
        text-decoration: 0;
        color: white;
        margin-top: 2vh;
    }

    .we {
        position: absolute;
        visibility: hidden;
    }
}


@media (width < 1024px) {
    .main-div {
        background-color: #ffffff33;
        backdrop-filter: blur(20px);
        display: flex;
        flex-direction: column;
        width: 94.44vw;
        height: 93vh;

        margin-left: 2.78vw;
        margin-top: 3vh;

        border-radius: 25px;
    }

    .logo {
        width: 34.72vw;
        margin-top: 2vh;
    }

    .bibizana {
        width: 34.72vw;
        margin-top: 12vh;
    }

    .main-p {
        font-size: 3rem;
    }

    .p {
        font-size: 1.75rem;
        margin-top: 1vh;
    }

    .button {
        background-color: #2600FF;
        border: none;
        border-radius: 25px;
        padding-inline: 5vw;
        padding-block: 3vw;

        margin-top: 3.5vh;

        font-size: 1.75rem;
    }

    .support {
        text-decoration: 0;
        color: white;
        margin-top: 2vh;
    }

    .we {
        text-decoration: 0;
        text-align: left;

        position: absolute;
        bottom: 2vh;
        left: 4vw
    }
}