* {
    padding: 0;
    margin: 0;
    font-size: 1em;
    text-align: center;
}

body {
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.box-logo {
    width: 100%;
    position: absolute;
    margin-top: 1.8vh;
}

.map {
    width: 85vw;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: #003CFF;
    width: 12vw;
    height: 5vh;
    border-radius: 35px;
    padding-inline: 2vw;
    padding-block: 1vh;

    color: white;

    position: absolute;
    bottom: 2vh;
    left: 2vw
}

.flour {
    text-decoration: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-1 {
    height: 7vh;
    margin-top: -1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-2 {
    height: 7vh;
    margin-top: -1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-3 {
    background-color: #0F32A5;
    width: 4vw;
    height: 7vh;
    margin-top: -1vh;
    border-radius: 35px;
}

.nav-4 {
    height: 7vh;
    margin-top: -1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}